.experience__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.experience__container > div{
    background: #2c2c6c;
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: all 400ms ease;
}
.experience__container > div:hover{
    background: transparent;
    border: 1px solid rgba(77, 181, 255, 0.4);
    cursor: default;
}
.experience__container > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: #4db5ff;
}
.experience_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}
.experience__details{
    display: flex;
    gap: 1rem;
}
.experience__details-icon{
    margin-top: 6px;
    font-size: 1.5rem;
}
.svg{
    width: 15%;
    margin-top: -15px;
    color: white;
}
@media screen and (max-width: 600px) {
    .experience__container {
      gap: 1rem;
    }
    .experience__container > div {
      width: 100%;
      padding: 2rem 1rem;
    }
  }